$body-bg: #f9f9f9;
$header-bg: #f5f5f5;
$price-color: #f22e00;
$container-width: 1200px;

body {
    background: $body-bg;
}

.header {
    background-color: $header-bg;
    height: 40px;
    border-bottom: 1px solid #eee;
}

.hd-container {
    height: 100%;
    width: $container-width;
    margin: 0 auto;
    // background-color: red;
    .logo {
        height: 100%;
        line-height: 40px;
    }

    .personal {
        height: 100%;

        li {
            float: left;
        }

        .nav-menu {
            position: relative;
            height: 100%;
            line-height: 40px;
            &>span {
                padding: 0 8px;
                cursor: pointer;
            }
        }

        .nav-menu-hd {
            padding: 0 8px;
            cursor: pointer;
        }

        .nav-menu-bd {
            display: none;
        }

        // .panel-unfold {
        .nav-menu:hover {
            .nav-menu-hd {
                // width: 70px;
                background-color: #fff;
                border-bottom: 0;
            }

            .nav-menu-bd {
                position: relative;
                display: block;
            }

            .nav-menu-bd-panel {
                position: absolute;
                width: 300px;
                left: -234px;
                padding: 5px 8px;
                line-height: 20px;
                top: 0;
                background: #fff;
                border: 1px solid $header-bg;
                border-top: 0;
                z-index: 1;
            }
        }
        .nav-gap {
            overflow: hidden;
            margin: 14px 5px 0;
            width: 1px;
            height: 12px;
            background-color: #ccc;
        }
    }
}

.mini-cart-hd {
    font-weight: bold;
}

.mini-cart-bd {
    li {
        width: 100%;
        overflow: hidden;
    }
}

.mini-cart-img {
    float: left;
    img {
        width: 40px;
        height: 40px;
    }
}

.mini-cart-price {
    float: right;
    height: 20px;
    strong {
        color: $price-color;
    }
}

.mini-cart-title {
    overflow: hidden;
    a {
        float: left;
        width: 200px;
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.mini-cart-del {
    float: right;
    height: 20px;
}

.mini-cart-counter {
    height: 20px;
    .counter-btn {
        display: inline-block;
        text-align: center;
        width: 20px;
        background-color: #eee;
        cursor: pointer;
    }
    .counter-input {
        width: 40px;
        text-align: center;
    }
}

.container {
    // display: flex;
    width: $container-width;
    margin: 10px auto;
    overflow: hidden;
}