@import './base.scss';
@import './header.scss';
@import './nav.scss';
@import './footer.scss';

// color
$price-color: #f22e00;
$product-tag-color: #ff5151;

// width
$container-width: 1200px;

.grid {
    margin-top: 20px;
    .g-item {
        width: 240px;
        height: 350px;
        float: left;
        margin: 0 2px 20px 2px;
        background-color: #ffffff;
        &:hover {
            box-shadow: 0 0 2px 2px #eee;
            z-index: 1;
            transition: all .5s ease;
        }
    }
    .g-item-wrap {
        display: block;
        width: 230px;
        padding: 0 7px;
    }
    .p-img {
        text-align: center;
        margin-bottom: 8px;
    }
    .p-price {
        font-size: 20px;
        margin-bottom: 8px;
        strong {
            font-family: Verdana;
            font-weight: 400;
            color: $price-color;
        }
    }
    .p-des {
        margin-bottom: 10px;
    }
    .p-tools {
        overflow: hidden;
        .tags {
            float: left;
            overflow: hidden;
            li {
                float: left;
                margin-left: 2px;
                padding: 3px 2px;
                background-color: #eee;
                &:nth-child(1) {
                    background-color: $product-tag-color;
                    color: white;
                }
                &:nth-child(2) {
                    background-color: $product-tag-color;
                    color: white;
                }
            }
        }
        .btn {
            float: right;
        }
    }
}
