@import './base.scss';
@import './header.scss';
@import './nav.scss';
@import './footer.scss';

.product-intro {
    margin-top: 20px;
    overflow: hidden;
}

.preview-wrap {
    width: 450px;
    float: left;
}

.info-wrap {
    width: 520px;
    float: right;

    .sku-name {
        font-size: 20px;
        font-weight: bold;
    }

    .summary {
        margin-top: 20px;
        padding: 30px 20px;
        background: #f3f3f3;

        .price {
            font-size: 40px;
            strong {
                color: $price-color;
            }
        }
    }

    .counter {
        margin-top: 20px;
        .counter-btn {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 35px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            font-size: 25px;
            border-radius: 50%;
            background: $btn-color;
            cursor: pointer;
            &:hover {
                background: $btn-hover-color;
            }
        }
        .counter-input {
            height: 40px;
            width: 100px;
            text-align: center;
            font-size: 20px;
        }
    }

    .btns {
        margin-top: 20px;

        .btn-big {
            width: 200px;
            height: 60px;
            font-size: 25px;
        }

        .btn-buy {
            background: #f35656;
            &:hover {
                background: #ca3636;
            }
        }
    }
}

.product-detail {
    margin-top: 30px;
    padding-top: 10px;
    height: 200px;
    border-top: 1px solid #ddd;

    .tab-hd {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        .tab {
            &.active {
                background: #f3f3f3;
                border-bottom: 1px solid #ccc;
            }
            &:hover {
                background: #f3f3f3;
            }
        }
    }

    .tab-bd {
        padding: 8px 15px;
    }
}
